<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<form>
    <div class="container">
        <h1 align="center">Prijava</h1>

        <hr>
        <label for="username"><b>Korisnicko Ime</b></label>
        <input type="text" placeholder="Unesite korisnicko ime"  id="username" required>
        <hr>
        <label><b>Lozinka</b></label>
        <input type="password" placeholder="Unesite lozinku"  id="lozinka" required>

        <hr>

        <button type="submit" class="registerbtn">Sign in</button>
    </div>


</form>
</body>
</html>